body {
    margin: 0;
}
.aids .description {
    float: left;
    margin-left: 10px;
}
.implants .description {
    float: right;
    margin-right: 10px;
}
.system .description {
    float: left;
    margin-left: 10px;
}
/*.image {
    float: right;
    margin-right: 10px;
}*/
.hearing {
    float: right;
    max-height: 200px;
    max-width: 200px;
}
.cochlear {
    float: left;
    max-height: 200px;
    max-width: 200px;
}
h1 {
    font-family: 'Courier New', monospace;
}